
body { background: cornflowerblue;
    color: black;
    font-size: 21pt; }
body { font-family: "PT Sans Narrow", sans-serif; }

a { display: inline-block }

a { border-left: 15px solid cornflowerblue }

a { padding:15px;
    margin: 5px;
    background: white }

a { color: cornflowerblue;}

a:hover { color: yellow }

.links { float: right }

.paragraph {float: outside}